<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Users/chen/Library/Containers/com.tencent.xinWeChat/Data/Documents/xwechat_files/wxid_4rr6omoaxc7v22_ae4c/temp/RWTemp/2025-12/9ee1e2ae96ea67620469e9c937e28a5b/73fcaf665b9a2044c4a409e1853c076d.jpg</string>
</array>
</plist>
